
.header {
  background: rgb(214, 109, 109);
}

.first-content {
  background: url("../images/slider1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 580px;
	color: #fff;
}

.first-content-text {
	font-size: 20px;
	font-weight: bolder;
  padding-top: 150px;
}

.searchword {
	background-color: rgba(255, 255, 255, 0.5);
	width: 70%;
	border-radius: 10px;
}

.howitworks {
  text-align:center;
  display: block;
}

.first-arct {
  background:rgb(214, 109, 109);
}

.first-arct-img {
  width: 50%;
}

.sec-arct{
  background: #6c757d;
}

.third-arct{
  background: rgb(53, 146, 245);
}

.art-text {
  font-size: 19px;
	font-weight: bolder;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.the-footer {
  background: #000;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .first-content-text {
    font-size: 30px;
		font-weight: bolder;
		letter-spacing: 1px;
	}

	.search-text {
    font-size: 20px;
		font-weight: bolder;
	}
	
	.first-arct-img {
		width: 100%;
		
	}

	.art-text {
		font-size: 27px;	
		
	}
	
}

@media only screen and (min-width: 1024px) {
	.first-content {
		height: 470px;
		color: #fff;
	}

	.first-arct-img {
		width: 60%;
	}

	.first-content-text {
		padding-top: 120px;
	}

  .first-content-text {
    font-size: 40px;
		font-weight: bolder;
		letter-spacing: 1px;
	}

	.searchword {
		width: 60%;
		border-radius: 10px;
	}

	.art-text {
		font-size: 37px;
		margin-top: 10px;
	}

}